:root {
    --dark-blue: #162542;
    --dark-gray: #7b8bad;
    --gray: #e8eff2;
    --orange: #f16718;
    --soft-orange: #ff9b62;
    --white: #ffffff;
}

@font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/Barlow-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/Barlow-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Barlow";
    src: url("./assets/fonts/Barlow-Black.ttf") format("truetype");
    font-weight: 900;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: "Barlow", sans-serif;
    min-height: 100dvh;
}

img {
    display: block;
    max-width: 100%;
}

main {
    min-height: 100dvh;
}

ul {
    list-style: none;
}

.header {
    padding: 4em;
}

.nav,
.specs__content {
    max-width: 1200px;
    margin-inline: auto;
}

.nav__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav__link--cta {
    background-color: var(--gray);
    border-radius: 8px;
    color: var(--dark-blue);
    font-weight: 600;
    padding: 1.2em;
    text-transform: uppercase;
    transition-property: color, background-color;
    transition-duration: 150ms;
}

.nav__link--cta:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.specs__list {
    display: flex;
    gap: 2em;
}

.specs__item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.specs__icon {
    align-items: center;
    background-color: var(--orange);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
}

.specs__title {
    color: var(--dark-blue);
    text-transform: uppercase;
}

.specs__text {
    color: var(--dark-gray);
    line-height: 1.6;
}